/*页面整体大框架*/
* {
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
	color:inherit;
}

input{
	text-align:center;
	outline:none;
	border:none;
	display:block;
	background-color:transparent;
}


body{
	background-image:url(../images/bg.jpg);
}

.container {
	box-sizing:border-box;
    position:relative;
    height:100%;
}

/*table大容器*/
.table-con {
	height:100%;
	width:600px;
	margin:0 auto;
	box-sizing:border-box;
	border:2px solid rgb(200,200,200);
	background-color:white;
    box-shadow:8px 8px 8px rgb(40,40,40);
    position:relative;
}

/*帮助按钮*/
.button-con{
	width:150px;
    top:-2px;
    position:absolute;
    right:-153px;
}

.button-con-show{
	height:28px;
	width:100%;
	text-align:center;
	color:white;
	background-color:rgba(0,0,0,0.8);
	border:3px solid rgb(255,255,255,1);
	border-radius:4px;
	box-sizing:border-box;
	cursor:pointer;
}



.button-con:hover ul{
	max-height:125px;
}

.button-con>ul{
	max-height:0px;
	overflow:hidden;
	transition:all 0.8s linear;
}

.button-con>ul>li{
	list-style:none;
	text-align:center;
	height:30px;
	line-height:30px;
	margin-top:3px;
	background-color:black;
	color:white;
	border:3px solid white;
	border-radius:4px;
	box-sizing:border-box;
	width:100%;
	cursor:pointer;
}

/*table的左侧布局*/
.table-left{
   height:100%;
   width:36%;
   background-color:rgb(60,60,60);
   float:left;
}

.table-left-img{
   height:135px;
}

.table-left-img .user-img{
	border:3px solid rgb(219,219,219);
	background-color:white;
	width:100px;
	height:114px;
	margin:15px auto;
	display:block;
	cursor:pointer;
}

.table-left-img input{
	display:none;
}

.table-left-najob{
	height:60px;
}

.table-left-najob input#user-name{   
	margin:0 auto;
	height:30px;
	width:160px;
	font-size:30px;
	color:white;
}

.table-left-najob input#user-job{
   margin:5px auto 0;
   height:20px;
   width:160px;
   font-size:15px;
   color:white;
}
/*标签1：基本信息*/
.table-left-baseInfor{
	height:200px;
	position:relative;
}

.table-left-baseInfor img{
   height:30px;
   width:150px;
   position:absolute;
   right:-3px;
}

.table-left-baseInfor .label1-con{
	position:absolute;
	height:30px;
	width:70px;
	right:20px;
	line-height:30px;
	color:white;
}

.table-left-biL{
	height:170px;
	width:39%;
	float:left;
	margin-top:30px;
}

.table-left-biL li{
	list-style:none;
	text-align:right;
	color:white;
	font-weight:bold;
	margin-top:5px;
	height:20px;
}

.table-left-biR{
	width:61%;
	float:left;
	height:170px;
	margin-top:30px;
}

.table-left-biR li{
	list-style:none;
}

.table-left-biR input{
	width:120px;
	list-style:none;
	border-bottom:2px solid rgb(220,220,220);
	margin-top:5px;
	height:20px;
	text-align:left;
	color:white;
	box-sizing:border-box;
	font-size:10px;
}

/*label2:联系方式*/
.table-left-contactInfor{
	height:180px;
	position:relative;
}

.table-left-contactInfor img{
   height:30px;
   width:150px;
   position:absolute;
   right:-3px;
}

.table-left-contactInfor .label2-con{
	position:absolute;
	height:30px;
	width:70px;
	right:20px;
	line-height:30px;
	color:white;
}

.table-left-ciL{
  float:left;
  width:39%;
  height:120px;
  margin-top:30px;
}

.table-left-ciL li{
    list-style:none;
	text-align:right;
	color:white;
	font-weight:bold;
	margin-top:5px;
	height:30px;
	line-height:30px;
}

.table-left-ciR{
  margin-top:30px;
  height:120px;
  float:left;
  width:61%;
}

.table-left-ciR li{
	list-style:none;
}

.table-left-ciR input{
	width:120px;
	list-style:none;
	text-align:left;
	color:white;
	box-sizing:border-box;
    height:30px;
	border-bottom:2px solid rgb(220,220,220);
	margin-top:4px;
}

/*table的右侧布局*/
.table-right{
   height:100%;
   width:64%;
   float:left;
   padding:15px;
   box-sizing:border-box;
}

.table-right-intro{
   height:250px;
   border:3px solid black;
   border-radius:4px;
   box-shadow:4px 4px 4px rgb(40,40,40);
}

.table-right-inTitle{
	height:40px;
	border-bottom:1px solid gray;
	padding-bottom:3px;
}

.table-right-inTitle img{
	height:40px;
	width:40px;
}

.table-right-inTitle span{
	font-size:20px;
	font-weight:700;
}

.user-intro{
	resize:none;
	border:none;
	outline:none;
	font-size:20px;
	display:block;
	width:100%;
	height:203px;
}

.table-right-skill{
   margin-top:20px;
   height:250px;
   border:3px solid black;
   border-radius:4px;
   box-shadow:4px 4px 4px rgb(40,40,40);
}

.table-right-skTitle{
	height:40px;
	border-bottom:1px solid gray;
	padding-bottom:3px;
}

.table-right-skTitle img{
	height:40px;
	width:40px;
}

.table-right-skTitle span{
	font-size:20px;
	font-weight:700;
}

.table-right-subS{
	height:40px;
	width:90px;
	border:3px solid black;
	float:right;
	margin-top:10px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	font-weight:700;
	cursor:pointer;
	transition:all 0.35s linear;
}

.table-right-subS:hover{
	background-color:black;
	color:white;
}

.table-right-subS input{
	display:none;
}

/*阴影的样式*/
.shadow{
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	height:100%;
    width:100%;
    top:0px;
    z-index:10;
    color:white;
    font-size:30px;
    vertical-align:;
}
.shadow>p{
    text-align:center;
}