body{
	color:white;
}

.container{
  height:auto;
}
 
.layui-layer-content{
	color:black;
}

#openApp{
	position:absolute;
	left:25px;
	bottom:25px;
}

#closeApp{
	position:absolute;
	left:85px;
	bottom:25px;
}

.content{
	height:600px;
	box-shadow:0 4px 8px rgba(7,17,27,.1);
	margin-top:20px;
	margin-bottom:20px;
	padding-top:1px;
	overflow:auto;
	background:white;
	border:1px solid rgba(7,17,27,.3);
	border-radius:4px;
	background:url(../images/auditbg.jpg);
}

.content-left{
	max-height:100%;
	padding:0;
	color:black;
}

.content-left-title{
	height:40px;
	line-height:40px;
	background:black;
	color:white;
	text-align:center;
	width:100%;
	font-size:18px;
	font-weight:600;
	cursor:pointer;
}

.content-left-list{
	overflow:hidden;
	transition:all 0.5s linear;
}

.content-left-list li{
	height:30px;
	line-height:30px;
	font-size:16px;
	background:white;
	text-align:center;
	border-bottom:1px solid gray;
    cursor:pointer;
}

.content-left-list li:nth-of-type(1){
	background:#acf6ef;
}

/*右侧具体内容*/
.content-right{
	padding:15px;
	height:100%;
}

/*报名审核*/
#audit-application-con{
  width:100%;
  height:100%;
  overflow:auto;
  border:2px solid 	#F5FFFA;
  overflow:hidden;
  text-overflow:ellipsis;
}

#audit-application-list{
	height:90%;
	overflow:hidden;
}

.application-list{
  height:10%;
  width:100%;
  border-bottom:1px solid #F5FFFA;
}

.application-list ul{
	height:100%;
	display:flex;

}

.application-list>ul>li{
	float:left;
	text-align:center;
	line-height:50px;
	flex:1;
	border-right:1px solid #F5FFFA;
	height:100%;
	font-size:16px;
}

.application-list>ul>li.application-look{
	cursor:pointer;
	background:rgba(192,255,62,.5);
}

#audit-application-nav{
    overflow:hidden;
    height:25px;
}

/*注册审核*/
#audit-register-con{
	display:none;
	width:100%;
    height:100%;
    overflow:auto;
    border:2px solid #F5FFFA;
}

#audit-register-list{
	height:90%;
	overflow:hidden;
}

#audit-register-list>li{
  height:10%;
  width:100%;
  border-bottom:1px solid #E6E6FA;
}

.register-list ul{
	height:100%;
	display:flex;
}

.register-list>ul>li{
	float:left;
	text-align:center;  
	line-height:50px;
	flex:1;
	border-right:1px solid #E6E6FA;
	height:100%;
	font-size:16px;
}

.register-list>ul>li:nth-of-type(5){
	cursor:pointer;
	font-weight:500;
	background:rgba(192,255,62,.5);
}

.register-list>ul>li:nth-of-type(6){
	cursor:pointer;
	font-weight:500;
	background:rgba(255,255,0,.5);
}

.register-list>ul>li:nth-of-type(7){
	cursor:pointer;
	font-weight:500;
	background:rgba(255,0,0,0.5);
}

#audit-register-nav{
    overflow:hidden;
    height:25px;
}
/*新闻管理*/
#audit-news-con{
	display:none;
	width:100%;
    height:100%;
    overflow:auto;
    border:2px solid #F5FFFA;
}

.table-con{
	min-height:450px;
}

.table{
	border-collapse:collapse !important;
}

.table tr th{
	text-align:center;
	padding:0 !important;
	text-align:center;
	box-sizing:border-box;
	height:40px;
	font-size:18px;
	line-height:40px !important;
    border:1px solid #E6E6FA !important;
}

.table tr td{
	border:1px solid #E6E6FA;
	width:10%;
	padding:0 !important;
	text-align:center;
	box-sizing:border-box;
	height:40px;
	line-height:40px !important;
}

.table tr .new-title{
	width:70%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:18px;
}

.new-detail{
	cursor:pointer;
	font-size:16px;
	background:rgba(192,255,62,.5);
	font-weight:500;
}

.new-change{
	cursor:pointer;
	font-size:16px;
	background:rgba(255,255,0,.5);
	font-weight:500;
}

.new-delete{
	cursor:pointer;
	font-size:16px;
	font-weight:500;
	background:rgba(255,0,0,.5);
}

/*通知*/
#audit-notice-con{
	display:none;
	width:100%;
    height:100%;
    overflow:auto;
    border:2px solid #F5FFFA;
}

.table tr .notice-title{
	width:70%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:18px;
}

.notice-detail{
	cursor:pointer;
	background:rgba(192,255,62,.5);
	font-size:16px;
	font-weight:500;
}

.notice-change{
	cursor:pointer;
	background:rgba(255,255,0,.5);
	font-size:16px;
	font-weight:500;
}

.notice-delete{
	cursor:pointer;
	background:rgba(255,0,0,.5);
	font-size:16px;
	font-weight:500;
}


/*优秀作品*/
#audit-production-con{
	display:none;
	width:100%;
    height:100%;
    overflow:auto;
    border:2px solid #F5FFFA;
}

#audit-production-list{
	height:85%;
	width:100%;
	overflow:hidden;
	border-top:1px solid #E6E6FA;
}

#audit-production-list>li{
  height:20%;
  width:100%;
  border-bottom:1px solid #E6E6FA;
  
}

#audit-production-nav{
    overflow:hidden;
    height:25px;
}

.pro-container{
	height:100%;
	overflow:hidden;
	width:100%;
	display:flex;
    align-items:center;
}

.pro-container li:nth-of-type(1){
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.pro-container li:nth-of-type(2){
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.pro-container li{
	text-align:center;
	font-size:16px;
	padding-top:35px;
	padding-bottom:35px;
	border:1px solid #E6E6FA;
}

.pro-title{
	flex:5;
}

.pro-author{
	flex:5;
}

.pro-look{
   flex:1;
   background:rgba(192,255,62,.5);
}

.pro-change{
	flex:1;
	background:rgba(255,255,0,.5);
}

.pro-delete{
	flex:1;
	background:rgba(255,0,0,0.5);
}
/*分页*/
.divide-page-con{
	height:25px;
}


.page-ul{
	margin:0 auto;
	float:right;
	overflow:hidden;

}
.page-list{
	height:25px;
	float:left;
	box-sizing:border-box;
	padding:0 10px;
    line-height:25px;
    text-align:center;
    border:1px solid white;
    transition:color,background 0.35s linear;
    cursor:pointer;
}

.page-list-active{
    background:yellow;
    color:black;
}

.page-list:hover{
    color:white;
    background:black;
}

@media screen and (max-width:768px){
	.content-left-list{
	   max-height:0;
	}
	.content-left{
		border:none;
		height:auto;
	}
	.content-right{
		overflow:auto;
	}
	.content{
		margin-top:0px;
		margin-bottom:0px;
	}
}