.main{
	min-height:650px;
	box-sizing:border-box;
	background:url(../images/login-bg.jpg);
	background-size:cover;
}


.container{
	min-height:650px;
	box-sizing:border-box;
	padding-top:48px;
}


.login-con{
   height:280px;
   margin-top:40px;
   box-sizing:border-box;
   padding:0px 0 20px 0;
   background:rgba(0,0,0,0.6);
   border-radius:15px;
   box-shadow:0 4px 8px rgba(7,17,27,.1);
}

.login-box{
	height:100%;
	width:100%;
}

.login-header{
	height:50px;
	text-align:center;
	line-height:50px;
	color:white;
	margin-bottom:25px;
	font-size:20px;
	font-weight:600;
	border-bottom:1px solid white;
}

.login-body{
	box-sizing:border-box;
	padding:10px 40px 0 40px;
}

.user-con{
	height:40px;
	width:100%;
	border-radius:5px;
	margin-bottom:15px;
}


.password-con{
	height:40px;
	width:100%;
	border-radius:5px;
}

#user{
	height:100%;
	width:100%;
	font-size:16px;
	border:none;
	border-radius:10px;
	background:rgba(255,255,255,.9);
	outline:none;
	text-indent:4px;
}

#password{
	height:100%;
	width:100%;
	font-size:16px;
	border:none;
	border-radius:10px;
	outline:none;
	background:rgba(255,255,255,.9);
	text-indent:4px;
}

.login-footer{
	height:100px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.btn{
	border-radius:40px;
}

.btn-success{
	margin-right:10px;
}

@media screen and (max-width:768px){
	.banner-con{
		display:none;
	}
	.login-con{
		margin-top:35px;
		height:400px;
		padding-top:50px;
	}
}