.transition(@time) {
    -webkit-transition:all @time linear;
    -moz-transition: all @time linear;
    -o-transition:all @time linear;
    transition:all @time linear;
}


.container {
    max-width:1200px;
    margin:10px auto 0;
    display:flex;

    .left{
        min-height:600px;
        padding:20px 10px 20px 10px;
        background-color: #fff;
        flex:2;

        .top{
           display:flex;
           flex-wrap:wrap;
           border-bottom:1px solid #eee;
          .left-main();     
         }

         .content {
             .left-content();
         }

         .comment {
             .left-comment();
         }

         .write {
             .left-write();
         }
    }

    .right {
        flex:1;
        .top{
            .right-top();
        }
        .middle {
            .right-middle();
        }
    }
}

.right-top() {
    height:300px;
        margin-bottom: 15px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        flex:1;
        margin-left:10px;

        .title {
            position: relative;
            height: 50px;
            line-height: 50px;
            padding: 0 15px;
            border-bottom: 1px dotted #E9E9E9;
            color: #333;
            border-radius: 2px 2px 0 0;
            font-size: 14px;
        }

        .main {
            #blogs-ul {
                padding:0;

                li{
                max-width: 85%;
                margin-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                text-indent:10px;
                margin-top:3px;
                margin-bottom:3px;

                a {
                   display:block;
                   height:100%;
                   width:100%;
                   cursor:pointer;
                   .transition(0.35s);

                   &:hover {
                    color: #009E94;
                   }
                 }
                }
            }
        }
}

.right-middle() {
   margin-top:20px;
   margin-left:10px;
   background:#fff;

   .title {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px dotted #E9E9E9;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
   }

   .main {
    padding:20px;
       a{
         display: block;
         position: relative;
         height: 60px;
         line-height: 60px;
         text-align: center;
         font-size: 16px;
         font-weight: 300;
         background-color: #009688;
         color: #fff;
         cursor:pointer;
         .transition(0.5s);

         &:hover {
             opacity:0.8;
         }
       }
   }
}

.left-main() {
    .title {
        font-size: 24px;
        line-height: 36px;
        width:100%;
    }

    .date {
        text-align:right;
        margin-top:3px;
        margin-bottom:3px;
        color:rgba(0,0,0,.5);
        width:100%;
    }

    .blogClass {
        padding-left:6px;
        padding-right:6px;
        height:20px;
        line-height:20px;
        background-color:#009E94;
        color:white;
        border-radius:3px;
    }

    .author {
        width:100%;
        text-align:right;
    }

}

.left-content() {
    border-bottom:1px solid #eee;
    min-height:500px;
}


.left-comment() {
       margin-top:20px;
        
       .title {
           height:50px;
           line-height:50px;
           text-align:center;
           display:flex;
           justify-content:center;
           align-items:center;
 
           div:nth-of-type(1) {
              width:100%;
              border:1px solid #e6e6e6;
              height:0px;
           }
            
           div:nth-of-type(2) {
               min-width:52px;
               font-size:20px;
               font-weight:300;
           }
           div:nth-of-type(3) {
               width:100%;
               border:1px solid #e6e6e6;
               height:0px;
           }
          
       }

       .comment-main {
           min-height:300px;
           display: flex;
           border-bottom: 1px dotted #DFDFDF;
           .main-left {
               min-height:300px;
               min-width:120px;

               img {
                   display:table;
                   width:80px;
                   height:80px;
                   margin:0 auto;
               }
               div {
                   width:100%;
                   text-align:center;
                   margin-top:5px;
               }
           }

           .main-right {
               min-height:300px;
               width:100%;
               .content {
                   min-height:200px;
                   background-color:rgba(230,230,230,0.6);
                   padding:10px;
                   
               }
               ul {
                   padding:0;
                   .comment-item {
                      display:flex;
                     min-height:40px;
                     line-height: 40px;
                     border-bottom:1px solid #DFDFDF;

                      div:nth-of-type(1) {
                         min-width:140px;
                         .fromer {
                            color:#333;
                         }
                         .tomer {
                            color:#333;
                         }
                      }   
                      div:nth-of-type(2) {
                         width:100%;
                         color:rgba(7,17,27,.6);
                         position:relative;
                         min-height:40px;
                         .reply {
                             color:#009688;
                             float:right;
                             margin-right:4px;
                             cursor:pointer;
                         }
                         textarea {
                            display:block;
                            height:40px;
                            resize:none;
                            width:100%;
                            padding-right:50px;
                            box-sizing:border-box;
                            display:none;
                            &.active {
                                display:block;
                            }
                        }

                         .reply-btn {
                             position:absolute;
                             right:3px;
                             bottom:1px;
                             cursor:pointer;
                             display:none;
                             .transition(0.35s);

                             &:hover {
                                 color:#009688
                             }
                             &.active {
                                 display:block;
                             }
                         }
                      }
                   }
               }

               .more {
                   text-align:center;
                   cursor:pointer;
                   color:#009688;
                   background-color:rgba(230,230,230,0.3);
                   position: relative;
                   height:24px;
                   line-height:24px;

                   .arrow {
                       display:block;
                       height:0px;
                       width:0px;
                       position: absolute;
                       left:50%;
                       margin-left:-3px;
                       border-top:5px solid #009688;
                       border-left:5px solid transparent;
                       border-right:5px solid transparent;
                       border-bottom:5px solid transparent;
                   }
               }
           }
       }

       #comment-ul {
           padding:0px;
       }
}

.left-write() {

}